<ion-content padding>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button>
      <ion-icon name="chatboxes"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-button color="light" data-desc="Qutation">
        Qutation
      </ion-button>
      <ion-button color="light">
        Confirmation
      </ion-button>
      <ion-button color="light">
        ThankYou
      </ion-button>
      <ion-button color="light">
        Reminder
      </ion-button>
    </ion-fab-list>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Name <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Mobile No. <ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-input required type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Date</ion-label>
          <ion-datetime placeholder="Select Date" [(ngModel)]="PickUpDate" name="PickUpDate"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Time</ion-label>
          <ion-datetime display-format="h:mm A" picker-format="h:mm A" placeholder="Select Time"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Address</ion-label>
          <ion-input placeholder="Address Line 1"></ion-input>
          <ion-input placeholder="Address Line 2"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      
        <ion-col>
            <ion-item>
              <ion-input placeholder="City"></ion-input>
              <ion-input placeholder="State"></ion-input>
            </ion-item>
          </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Notes</ion-label>
          <ion-textarea></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding">
    <ion-button size="small" type="submit" class="ion-no-margin">Add Customer</ion-button>
  </div>

</ion-content>